---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Icon } from "astro-icon";
import BaseHead from "@/components/BaseHead.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import ResponsiveDiv from "@/components/ResponsiveDiv.astro";
import Review from "../components/Review.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <PageLayout>
    <ResponsiveDiv
      class="relative py-24 bg-gradient-to-br from-slate-950 via-black via-50% to-fuchsia-950/20"
    >
      <div
        class="absolute top-0 bottom-0 left-0 right-0 bg-grid"
        style="-webkit-mask-image: linear-gradient(135deg, transparent, #000)"
      >
      </div>
      <div class="relative">
        <p class="font-semibold text-white text-5xl">
          SynUI
          <span
            class="border-[1px] border-white py-1 px-2 font-normal text-lg rounded opacity-50"
          >
            Prerelease
          </span>
        </p>
        <p class="text-2xl mt-4">
          A very opinionated
          <b class="font-semibold">
            Synapse <span class="text-orange-300">X</span>
          </b>
          custom UI
        </p>
        <div
          class="flex flex-col md:flex-row items-stretch md:items-center gap-4 mt-4"
        >
          <a
            class="btn"
            target="_blank"
            href="https://github.com/rice-software/SynUI"
          >
            <Icon name="mdi:github" height="1em" class="mr-2" />
            View source
          </a>

          <a
            class="btn"
            target="_blank"
            href="https://github.com/rice-software/SynUI/actions"
          >
            <Icon name="mdi:windows" height="1em" class="mr-2" />
            Download on Windows
          </a>

          <p class="text-yellow-400 text-center">
            (You have to sign into Github before downloading)
          </p>
        </div>
        <img
          src="/SynUI.png"
          alt=""
          class="relative mt-16 shadow-blue-900/25 shadow-[0_0_32px]"
        />
      </div>
    </ResponsiveDiv>

    <ResponsiveDiv class="py-24 border-t-[1px] border-white/10">
      <div class="flex flex-col gap-8 text-center">
        <p class="font-semibold text-white text-5xl">The successor to SynUI</p>

        <p class="text-xl">oh yeah here's some very good reviews</p>

        <div class="my-32 grid gap-8 justify-center grid-cols-1 md:grid-cols-3">
          <Review
            name="not bogie"
            title=""
            statement="my balls itch"
            imageSrc="/review/notbogie.webp"
          />
          <Review
            name="Hiroku"
            title="UI Designer"
            statement="bogies ball itches"
            imageSrc="/review/hiroku.webp"
          />
          <Review
            name="Kaneki Cat"
            title="Valiant Owner"
            statement="I want to commit suicide"
            imageSrc="/review/kaneki.webp"
          />
        </div>

        <p class="text-xl">so what are you waiting for???? get it now!!</p>
      </div>
    </ResponsiveDiv>
  </PageLayout>
</html>
