---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div class={`w-full ${className}`} {...props}>
  <div class="w-full flex justify-center px-4">
    <div class="w-full max-w-5xl">
      <slot />
    </div>
  </div>
</div>
